/* p{

margin-top: 100;
margin-bottom: 150;
margin-left:  280px; ;
margin-right: 280px;
} */

/* p{
    margin: 100px 100px 100px 100px 
} */

/* p{

margin: 100px 
} */
/* 
p{

margin:25px 50px 76;

} */

/* div{

    padding-top: 100;
    padding-bottom: 150;
    padding-left:  280px; ;
    padding-right: 280px;


  */ 

/* 
  div{

height: 200px;
max-width: 700px;
background-color: black;



  } */


body{

background-color: blue;
background:url("../image/Mercedes-Logo.svg.png");
background-size: cover;


}




  div{

width: 300px;
border: 15px  solid green;
padding: 50;
margin: 20px

  }


p{

/* color: blue;
color: rgb(#f00000, green, blue)
color(srgb red green blue)

color blue */

border-width: 2px ;
border-style: solid;
border-color: chocolate;




}


