/* p{

margin-top: 100;
margin-bottom: 150;
margin-left:  280px; ;
margin-right: 280px;
} */

/* p{
    margin: 100px 100px 100px 100px 
} */

/* p{

margin: 100px 
} */
/* 
p{

margin:25px 50px 76;

} */

div{

    padding-top: 100;
    padding-bottom: 150;
    padding-left:  280px; ;
    padding-right: 280px;


}