ul#select li {
background-color: aliceblue;
color: white;
padding: 20px;
list-style-type: none;
margin-bottom: 15px;




}


ul#sort{
padding: 0;

}





ul#select1 li {
background-color: aliceblue;
color: white;
padding: 20px;
list-style-type: none;
margin-bottom: 15px;




}

ul#select2 li {
background-color: aliceblue;
color: white;
padding: 20px;
list-style-type: none;
margin-bottom: 15px;




}

ul#select3 li {
background-color: aliceblue;
color: white;
padding: 20px;
list-style-type: none;
margin-bottom: 15px;




}











































