/* div.gallery{
float: left;
padding: 0px;
}




div.gallery:hover{
width: 100px;
border: 1px  solid black ;
}

image div.gallery{

width: 100%;
height: auto;

}

div.desc{

text-align: center;
padding: 15px;



}
 */


.sprite{

background: url(../img/houses.png) ;


}



.enginieer{

height: 500px;
width: 500px;
display: inline-block;
background-position: -500px -500px;


}
div[id~="ds"]{
background-color: blue;
color: white;
padding: 20px;
}



img[title="2"]{
border: 2px   solid blue;


}


h1[class= heading]{
    background-color: darkblue;
color: aliceblue;
padding: 20px;


}





input[:placeholder$="name"]{
border: 2px solid green;
}